:root {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12pt;
    background-color: #e9f1fc;
    color: hsl(225,15%,40%);
    --theme-color: hsla(95, 100%, 35%);
    &.dark {
        background-color: #111;
        color: #eee;
    }
}

body {
    margin: 0;
}

.grid {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template:
      " view    view  " 1fr
      "cooltag hottag " auto
      " cool     hot  " auto
      "control control" auto /
         1fr     1fr;

    & > .view {
        grid-area: view;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 100vw;
        height: 100%;
        object-fit: contain;
    }
    & > .cooltag {
        grid-area: cooltag;
    }
    & > .hottag {
        grid-area: hottag;
    }
    & > .cooltag, & > .hottag {
        text-align: center;
        font-weight: bold;
        padding-top: 1rem;
        & > svg {
            height: 1.5em;
            margin-right: 0.25em;
            vertical-align: calc(0.5cap - 0.75rem);
        }
        & > .score {
            display: inline-block;
            margin-left: 0.5em;
            min-width: 3ch;
            text-align: right;
        }
    }
    & > .cool {
        grid-area: cool;
    }
    & > .hot {
        grid-area: hot;
    }
    & > .cool, & > .hot {
        box-sizing: border-box;
        width: 50vw;
        text-align: center;
        padding: 0.75rem 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        & > .name {
            width: 100%;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            & + .port {
                width: 0;
                overflow: hidden;
            }
        }
        & > .port {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            & > input {
                flex-grow: 1;
                margin-inline-end: 6px;
                min-width: 0;
            }
            & > button {
                margin: 0;
                border: 0;
                border-radius: 0.5rem;
                background-color: var(--theme-color);
                cursor: pointer;
                padding: 1em 1.25em;
                color: #fff;
                font-size: 0.8rem;
                font-weight: bold;
                text-wrap: nowrap;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    & > .control {
        grid-area: control;
        background-color: #fff;
        border-top: 0.0625rem solid hsl(0deg 0% 0% / 15%);
        padding: 1.5rem;
        box-sizing: border-box;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        & button {
            background-color: hsl(38,100%,55%);
            border: none;
            color: #fff;
            padding: 0.75rem 1rem;
            border-radius: 0.25rem;
            font-weight: 600;
            font-size: 0.85rem;
            cursor: pointer;
            &:disabled {
                cursor: auto;
                opacity: 0.5;
            }
            &.hidden {
                width: 0;
                padding: 0.75rem 0;
                overflow: hidden;
                text-wrap: nowrap;
            }
        }
    }
}

.dark .control {
    background-color: #111;
    color: #eee;
    border-color: #ffffff26;
}

input {
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 0.5rem;
    padding: 1em 1.25em;
    font-size: 0.8rem;
}
.dark input {
    background-color: #1e1e1e;
    border-color: #ffffff26;
    color: #eee;
}